* {
    margin: 0;
    padding: 0;
}
/*Basic CSS End*/
body {
    font-family: 'Poppins';
    font-weight: 800;
}

ul {
    text-align: right;
}

a {
    font-size: large;
    color:rgb(0, 195, 255);
    text-decoration: none;
}

h1 {
    color: rgb(0, 38, 255);
   font-size: 50px;
}

h2 { 
    text-align: left;
    color:rgb(255, 166, 0) ;
    font-size: 50px;
    margin-top: 5px;
    margin-left: 10px;
}

h3{
    margin-top: 10px;
color: rgb(93, 93, 93);
}
.container {
    width: 95%;
    margin: 0 auto;
}
.NavbarArea {
    width: 100%;
    background-color: #fff;
    padding: 30px 0;  
    position: sticky;
}

.NavbarArea ul {
    list-style-type: none;
}

.NavbarArea li {
    display: inline;
}

.NavbarArea a {
    text-decoration: none;
    padding: 30px 15px;
    font-weight: 800;
}

.hero_area{
margin:20px;
width: auto;
}

.hero_left {
width: 500px;
height: 500px;
margin-top: 50px;
}

.hero_right img {
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-right: -130%;
    margin-top: -25%;
    transform: translateY(-50%);
}
#right {
    float: right;
}
button{
    margin-top: 50px;
    font-size: large;
    background-color: orange;
}